.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* przyciemnione tło */
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.modalContent {
  background-color: #b9b9b94d; /* półprzezroczysty jak logowanie */
  width: 400px;
  height: 100%;
  backdrop-filter: blur(20px);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  font-family: var(--font-playfair);
}

.open {
  transform: translateX(0);
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.accountData {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}

.title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  position: relative;
  height: 100vh;
}

.form input {
  padding: 10px;
  border: 1px solid #c29d5d;
  background-color: transparent;
  color: #fff;
}
.form input::placeholder {
  color: #fff;
}

.paymentStep {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: relative;
}

.shippingWrapper {
  margin-top: 20px;
  padding: 10px;
}

.shippingWrapper,
.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #c29d5d;
  margin-bottom: 6px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: white;
}

.summary {
  margin-top: 16px;
  color: #fff;
  font-size: 0.95rem;
  line-height: 1.5;
  padding: 10px;
}

.summary strong {
  font-size: 1.2rem;
  color: #c29d5d;
}

.success {
  text-align: center;
  margin-top: 40px;
  color: #fff;
}

.success h3 {
  color: #c29d5d;
  margin-bottom: 10px;
}

.subheading {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.subheading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
}

.footer {
  margin-top: 20px;
  text-align: left;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  border-top: 1px solid #c29d5d;
  padding: 1rem;
}

.footerPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.shipBox {
  display: flex;
  justify-content: space-between;
}

.shipBox p {
  font-size: 0.95rem;
  color: white;
}

@media (min-width: 1600px) {
  .modal {
    justify-content: center;
    align-items: center;
  }
  .modalContent {
    width: 400px;
    height: 70vh;
    top: auto;
    left: auto;
    margin: auto;
  }
}
